
#timer {
    width: 90px;
    height: 90px;
    float: right;
    color: blue;
    margin-top: 10px;
    margin-right: 100px;
    font-size: 30px;

}

#score {
    width: 90px;
    height: 90px;
    float: left;
    color: blue;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 30px;

}


#main {
    width: 400px;
    height: 400px;
    padding-left: 33%;
    padding-top: 10%;

    
}

#start {
    background-color: red;
    height: 40px;
    font-size: 30px;
    text-align: center;
    
}
.quiz-challenge {
    color: blue;
    text-align: center;

}

#quiz {
    background-color: turquoise;
    height: 400px;
    width: 700px;
    margin-left: 25%;
    margin-top: 12%;
 
}
#question {
    padding-left: 30px;
    padding-top: 20px;;
    
}
.buttons {
    width: 600px;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 30px;
}





.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #done {
      margin-left: 50%;
      margin-top: 15px;
      width: 120px;
      height: 60px;
      font-size: 25px;
      background-color: lightsteelblue;
  }






 @media screen and (max-width: 768px) {
#quiz {
    width: 50%;
    margin-left: 20%
}
.buttons {
    width: 50%;
    font-size: 15px;
    margin-left: 90px;
}
#main {
    width: 50%;
}
#timer {
    margin-right: 100px;
    font-size: 30px;
    padding-left: 30px;
}
} 

   @media screen and (max-width: 600px) {
    #quiz {
        width: 50%;
    }
    .buttons {
        width: 50%;
        font-size: 15px;
        margin-left: 70px;
    }
    #button-1 {
        margin-left: 45px;
    }
    #main {
        width: 50%;
    }
    #timer {
        margin-right: 50px;
        font-size: 20px;
        padding-left: 30px;
    }
    #score {
        font-size: 20px;
    }
    } 









  


